<h1>[{{title}}] 글 {{#if (eq mode "create")}} 작성{{else}}수정{{/if}}</h1>
<div>
        <!-- 글쓰기 폼, method = "post"는 http 통신을 POST로 한다는 의미-->
    <form name="boardForm" method="post" {{#if (eq mode "create")}}action = "/write"{{else}} action="/modify" {{/if}}>
        <!--제목 입력 칸, placeholder는 입력이 없을 시 입력을 유도하기 위해 작성-->
        {{#if (eq mode "modify")}} <!-- 수정 모드일 때는 ID 값을 전송-->
            <input type="hidden" name ="id" value="{{post._id}}"/> 
        {{/if}}
        <div>
            <label>제목</label> <!--수정모드일때는 제목 값을 넣어준다.-->
            <input type = "text" name = "title" placeholder = "제목을 넣어주세요" value="{{post.title}}"/>
        </div>
        <!--이름 입력 칸-->
        <div>
            <label>이름</label> <!--수정모드일때는 작성자 값을 넣어준다.-->
            <input type = "text" name = "writer" placeholder="이름을 넣어주세요" value="{{post.writer}}"/>
        </div>
        <!--비밀번호 입력 칸, type을 password로 하여 입력 시 마스킹 처리가 된다.-->
        <div>
            <label>비밀번호</label>
            <input type="password" name = "password" placeholder="비밀번호를 넣어주세요"/>
        </div>
        <!--본문 영역-->
        <div>
            <label>본문을 입력하세요</label><br/> <!--수정모드일때는 본문 내용을 넣어준다.-->
            <textarea placeholder="text here" name = "content" cols="50" rows="10">{{post.content}}</textarea>
            <br/>
        </div>
        <!--버튼 영역-->
        <div>
            <button type = "submit">Save</button>
            <button type = "button" onclick="location.href='/'">Cancel</button>
        </div>
        
    </form>
</div>